# MacOS
.DS_Store

# npm
**/node_modules/

# Wonderland Engine
**/deploy/
**/cache/js/

# Local editor data
**/.editor/
**/.autosave/

# Local editor js bundle
**/cache/**/js/
**/cache/packagejson.hash

# VSCode settings
**/.vscode/
